services:
  mysql:
    image: mysql:8.0
    container_name: baekgwa-blog-database
    environment:
      MYSQL_ROOT_PASSWORD: ${RDBMS_ROOT_PASSWORD}
      RDBMS_USERNAME: ${RDBMS_USERNAME}
      RDBMS_PASSWORD: ${RDBMS_PASSWORD}
      TZ: Asia/Seoul
    ports:
      - ${RDBMS_PORT}:3306
    networks:
      - baekgwa-network
    volumes:
      - ./mysql/init.sh:/docker-entrypoint-initdb.d/init.sh
      - ./mysql/my.cnf:/etc/my.cnf
      - ${MYSQL_QUERY_LOG_PATH}:/var/log/mysql
      - baekgwa-blog-database-volumes:/var/lib/mysql
    restart: always

  redis:
    image: redis:7-alpine
    container_name: baekgwa-blog-redis
    command: [ "redis-server", "/usr/local/etc/redis/redis.conf", "--requirepass", "${REDIS_PASSWORD}" ]
    environment:
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    volumes:
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf:ro
      - baekgwa-blog-redis-volumes:/data
    ports:
      - ${REDIS_PORT}:6379
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli -a ${REDIS_PASSWORD} ping | grep PONG" ]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - baekgwa-network

networks:
  baekgwa-network:
    external: true

volumes:
  baekgwa-blog-database-volumes:
  baekgwa-blog-redis-volumes:
    driver: local
